@model MVCintro.Models.PersonModel
<p>@Html.DisplayNameFor(m => m.Id): @Html.DisplayFor(m => m.Id)</p>
<p>@Html.DisplayNameFor(m => m.FirstName): @Html.DisplayFor(m => m.FirstName)</p>
<p>@Html.DisplayNameFor(m => m.LastName): @Html.DisplayFor(m => m.LastName)</p>
