@using MVCintro.Models
@model MVCintro.Models.PersonModel

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
@Html.ActionLink("Link 1", "Show", new { @id = 13 }, new { @class = "pull-right", id = "iden-til-linken" })

<a href="@Url.Action("Show", new {@id = 13})">Link 2</a>

<hr/>
<h3>Person1 1:</h3>
@Html.Partial("_Show", new PersonModel(1337, "Frank", "Hansen", "13371337"))

<hr />
<h3>Person 2:</h3>
@Html.Action("Show")

<hr/>

<div id="person-info">
    @Html.Partial("_PersonForm", Model)
</div>
