@model MVCintro.Models.PersonModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Link 1", "Show", new { @id = 13 }, new { @class="pull-right", id = "iden-til-linken" })

<a href="@Url.Action("Show", new {@id = 13})">Link 2</a>

@using (Html.BeginForm("Create", "Person")){

@Html.ValidationSummary()
@Html.ValidationMessageFor(m => m.FirstName)    
@Html.LabelFor(m => m.FirstName) 
@Html.TextBoxFor(m => m.FirstName)
  <br/>
@Html.ValidationMessageFor(m => m.LastName)
@Html.LabelFor(m => m.LastName) 
@Html.TextBoxFor(m => m.LastName)<br />
@Html.LabelFor(m => m.PhoneNumber)
@Html.TextBoxFor(m => m.PhoneNumber)<br/>
    
@Html.LabelFor(m => m.EmailAddress)
@Html.TextBoxFor(m => m.EmailAddress)<br/>
    
@Html.LabelFor(m => m.DateOfBirth)
@Html.EditorFor(m => m.DateOfBirth)<br/>
    
@Html.LabelFor(m => m.IdentityNumber)
@Html.EditorFor(m => m.IdentityNumber)<br />

<input type="submit" value="Send inn" />

}