@model MVCintro.Models.PersonModel

<h2>Person</h2>
<p>Id: @Model.Id</p>
<p>Fornavn: @Model.FirstName</p>
<p>Etternavn: @Model.LastName</p>
<p>Telefonnummer: @Model.PhoneNumber</p>
<p>Personnummer: @Model.IdentityNumber</p>
<p>Fødselsdato: @Model.DateOfBirth</p>
<p>Epost: @Model.EmailAddress</p>

